version: "3.8"

services:
  # --- 1. Load Balancer (Nginx) ---
  # Đóng vai trò cửa ngõ, phân tải vào các Backend (Load Balancing)
  nginx:
    image: nginx:latest
    container_name: lb-nginx
    ports:
      - "80:80" # User truy cập qua port 80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app-network

  # --- 2. Backend API (Node.js Cluster) ---
  # Chạy nhiều bản sao để mô phỏng hệ thống phân tán
  # Đáp ứng: Chương 2 (Kiến trúc), Chương 3 (Tiến trình)
  backend:
    build: ./backend
    # container_name: backend # Đặt tên cố định
    restart: always
    # ports:
    #   - "3000:3000"
    environment:
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=rootpassword
      - DB_NAME=leave_management
      - MONGO_URI=mongodb://mongo:27017/logs_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=secret_key_cua_ban # Nhớ dòng này nếu dùng JWT
    volumes:
      - ./backend:/app # <--- QUAN TRỌNG: Đồng bộ code từ máy vào Docker
      - /app/node_modules # Giữ nguyên thư viện bên trong
      - ./backend/uploads:/app/uploads # <--- QUAN TRỌNG: Giữ lại ảnh restart
    depends_on:
      - postgres
      - mongo
      - redis
    networks:
      - app-network # Tự khởi động lại nếu crash (Chương 8: Tính chịu lỗi)

  auth_service:
    build: ./auth_service
    # container_name: backend # Đặt tên cố định
    restart: always
    # ports:
    #   - "3000:3000"
    environment:
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=rootpassword
      - DB_NAME=leave_management
      - MONGO_URI=mongodb://mongo:27017/logs_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=secret_key_cua_ban # Nhớ dòng này nếu dùng JWT
    volumes:
      - ./auth_service:/app # <--- QUAN TRỌNG: Đồng bộ code từ máy vào Docker
      - /app/node_modules # Giữ nguyên thư viện bên trong
      # - ./auth_service/uploads:/app/uploads # <--- QUAN TRỌNG: Giữ lại ảnh restart
    depends_on:
      - postgres
      - mongo
      - redis
    networks:
      - app-network # Tự khởi động lại nếu crash (Chương 8: Tính chịu lỗi)

  leave_service:
    build: ./leave_service
    # container_name: backend # Đặt tên cố định
    restart: always
    # ports:
    #   - "3000:3000"
    environment:
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=rootpassword
      - DB_NAME=leave_management
      - MONGO_URI=mongodb://mongo:27017/logs_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=secret_key_cua_ban # Nhớ dòng này nếu dùng JWT
    volumes:
      - ./leave_service:/app # <--- QUAN TRỌNG: Đồng bộ code từ máy vào Docker
      - /app/node_modules # Giữ nguyên thư viện bên trong
      # - ./leave_service/uploads:/app/uploads # <--- QUAN TRỌNG: Giữ lại ảnh restart
    depends_on:
      - postgres
      - mongo
      - redis
    networks:
      - app-network # Tự khởi động lại nếu crash (Chương 8: Tính chịu lỗi)

  # --- 3. Frontend (ReactJS) ---
  frontend:
    build: ./frontend
    container_name: client-react
    ports:
      - "3001:3000" # Truy cập React riêng lẻ qua port 3001 (nếu cần dev)
    volumes:
      - ./frontend:/app
      - /app/node_modules
      # Trước đây, Docker "dùng chung" thư mục node_modules với máy thật, Khi Docker khởi động, nó tìm thấy bản cài đặt của Windows -> Nó không hiểu và báo lỗi Cannot find module...linux....
      # =>Docker tự tải phiên bản Linux về dùng riêng. Máy Windows của bạn có cài gì cũng không ảnh hưởng đến nó nữa.
    environment:
      - REACT_APP_API_URL=http://localhost:80 # React gọi API qua Nginx (Port 80)
    stdin_open: true # Fix lỗi thoát container ngay lập tức của React scripts
    tty: true
    networks:
      - app-network

  # --- 4. Database 1: PostgreSQL (SQL) ---
  # Lưu dữ liệu nghiệp vụ: Nhân viên, Đơn nghỉ phép
  # Đáp ứng: Chương 7 (Sao lưu/Dữ liệu có cấu trúc)
  postgres:
    image: postgres:15-alpine
    container_name: db-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: rootpassword
      POSTGRES_DB: leave_management
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql # Tự động chạy script khởi tạo
    ports:
      - "5433:5432"
    networks:
      - app-network

  # --- 5. Database 2: MongoDB (NoSQL) ---
  # Lưu Log hệ thống, Lịch sử thao tác
  # Đáp ứng: Chương 7 (Dữ liệu phi cấu trúc)
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    volumes:
      - mongodata:/data/db
    networks:
      - app-network

  # --- 6. Message Broker: Redis ---
  # Dùng cho Socket.IO Pub/Sub để đồng bộ 2 Backend và Caching
  # Đáp ứng: Chương 4 (Trao đổi thông tin), Chương 6 (Đồng bộ hóa)
  redis:
    image: redis:alpine
    container_name: broker-redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - app-network

# Định nghĩa nơi lưu trữ dữ liệu bền vững (Persistence)
volumes:
  pgdata:
  mongodata:

# Mạng nội bộ để các container nhìn thấy nhau
networks:
  app-network:
    driver: bridge
